$color-1: rgba(220, 20, 20, 1);
$color-2: rgba(150, 20, 20, 1);
$color-3: rgba(120, 20, 20, 1);
$color-4: rgba(80, 20, 20, 1);

$color-light-1: rgba(230, 230, 230, 1);

$color-dark-1: rgba(10, 10, 10, 1);
$color-dark-2: rgba(20, 20, 20, 1);
$color-dark-3: rgba(40, 40, 40, 1);
$color-dark-3: rgba(60, 60, 60, 1);

$watermark-color-1: rgba(255, 255, 255, 0.05);

$radius: 30px;
$radius-1: 15px;

$padding-1: 25px;
$padding-2: 50px;
