.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  color: $color-light-1;
  background-color: $color-3;
  border-radius: $radius;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;

  .button__title {
    position: relative;
    transition: all 0.5s;
  }

  .button__subtitle {
    position: absolute;
    transition: all 0.5s;
    transform: translate(0, 100%);
    opacity: 0;
  }

  &:hover {
    background-color: $color-1;
    .button__title {
      transform: translate(0, -100%);
      opacity: 0;
    }

    .button__subtitle {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
