.anime-page {
  .anime-page__article {
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 15px;

    .anime-page__watermark {
      position: absolute;
      left: 0;
      font-size: 200px;
      color: rgba($color-light-1, 0.05);
      z-index: -1;
      transform: rotate(15deg);
      pointer-events: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .anime-page__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 25px;
      column-gap: 50px;
      margin-bottom: 50px;

      .anime-page__content-part {
        .anime-page__title {
        }
        .anime-page__text {
        }
      }

      .anime-page__image-container {
        position: relative;
        border: 2px solid $color-1;
        .anime-page__image {
          position: relative;
          padding: 10px;
          margin: 0 0 -20px -20px;
        }
      }
    }

    .anime-page__character-list {
      display: flex;
      margin-bottom: 50px;
      overflow-x: hidden;
      padding-bottom: 20px;
      margin: 0 -20px;

      .anime-page__character-container {
        display: flex;
        flex: 1 0 25%;
        justify-content: center;
        padding: 0 15px;
        max-width: calc(1200px / 4);

        .anime-page__character-item {
          position: relative;
          border-left: 2px solid $color-1;
          margin: 20px 0;

          .anime-page__character-text {
            .anime-page__title-container {
              display: flex;
              place-items: center;
              transform: translate(-2px, -50%);
              .anime-page__line {
                flex: 1;
                height: 2px;
                background-color: $color-1;
              }
              .anime-page__character-title {
                padding-left: 10px;
              }
            }
            .anime-page__subtitle-container {
              display: flex;
              place-items: center;
              transform: translate(-2px, 50%);
              .anime-page__line {
                flex: 1;
                height: 2px;
                background-color: $color-1;
              }
              .anime-page__character-subtitle {
                padding-left: 10px;
                font-size: 1.2rem;
              }
            }
          }

          .anime-page__character-image {
            padding-left: 20px;
            width: 245px;
            height: 350px;
            object-fit: cover;
          }

          &:hover {
          }
        }
      }
    }

    .anime-page__parameter-list {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      row-gap: 15px;
      padding: 25px 0 0 0;

      text-align: center;

      .anime-page__parameter-item {
        padding: 20px;
        .anime-page-parameter-title {
        }
        .anime-page-parameter-subtitle {
          font-size: 2.5rem;
          color: $color-1;
          font-weight: bold;
        }
      }
    }

    .anime-page__video {
      position: relative;
      padding: 20px 0 0 20px;
      &::before {
        content: "";
        position: absolute;
        display: block;
        inset: 0 75% auto 0;
        height: 1px;
        background: $color-1;
        transition: all 3s;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        inset: 0 auto 25% 0;
        width: 1px;
        background: $color-1;
        transition: all 3s;
      }

      iframe {
        width: 100%;
        min-height: 642px;
        border: none;
      }

      &:hover {
        &::before {
          inset: 0 25% auto 0;
        }
        &::after {
          inset: 0 auto 75% 0;
        }
      }
    }
  }
}
