.login-page {
  max-width: 1170px;
  margin: 0 auto;
  padding: 25px 15px;

  .login-page__form {
    .login-page__label {
      .login-page__label--email {
      }
      .login-page__label--register {
      }
    }
  }
}
