.userpanel-page {
  display: flex;
  width: 100%;
  padding: $padding-1;

  .userpanel-page-watermark {
    height: 100%;

    &__title {
      writing-mode: vertical-rl;
      font-size: 100px;
      color: $watermark-color-1;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $padding-1;

    .user-profile {
      display: flex;
      flex-direction: column;
      gap: $padding-1;

      .title-container {
        display: flex;
        position: relative;
        place-items: center;

        &__title {
          padding-right: $padding-1;
        }

        &__line {
          flex: 1;
          background-color: $color-1;
          height: 2px;
        }
      }

      .user-details {
        display: flex;
        gap: $padding-1;

        &__image {
          width: 200px;
          height: 300px;
          object-fit: cover;
          border-radius: $radius-1;
        }

        &__text {
        }
      }
    }

    .watched-anime {
      &__title {
        padding-bottom: $padding-1;
        transition: all 0.3s;
      }

      &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
        max-height: 450px;
        overflow: hidden;
        box-shadow: inset 0px -30px 20px -20px $color-dark-2;
        transition: 0.3s all;

        &--active {
          max-height: 100%;
        }

        .watched-anime-card {
          position: relative;
          display: grid;
          grid-template-columns: auto 1fr 1fr;
          gap: 20px;
          align-items: center;
          background-color: $color-dark-3;
          border-radius: $radius-1;

          z-index: -1;

          &__image {
            height: 100px;
            padding: 15px;
          }

          &__title {
          }
        }
      }

      &__button {
        width: 100%;
        border-radius: 0 0 $radius-1 $radius-1;
      }
    }
  }
}
