.header {
  background-color: $color-dark-1;
  padding: $padding-1;
  transition: all 0.5s;

  .header__logo-container {
    margin-bottom: $padding-1;

    .header__logo {
      font-size: 30px;
      text-align: center;
      font-weight: lighter;
      transition: all 0.3s;
      white-space: nowrap;

      &--bold {
        display: inline-block;
        transform: rotate(90deg) translate(-4px, 0px);
        margin-top: 4px;
        border-bottom: 5px solid $color-light-1;

        font-weight: bold;
        color: $color-light-1;
      }
    }
  }

  .search {
    transition: all 0.5s;
    margin-bottom: $padding-1;

    .search__form {
      .search__input {
        width: 100%;
        padding: 10px $padding-1;
        border: none;
        border-radius: $radius-1;
        background-color: $color-dark-2;
        color: $color-light-1;

        &:focus {
          & + .search__list {
            display: block;
            opacity: 1;
          }
        }
      }

      .search__list {
        position: absolute;
        display: none;
        z-index: 1;
        margin-top: 19px;
        opacity: 0;
        background-color: rgba($color-dark-1, 0.7);
        min-height: 100vh;

        li {
          list-style: none;
          padding: 5px 15px;
          margin-bottom: 10px;

          a {
            display: block;
            padding: 20px;
            border-radius: $radius-1;
            color: $color-light-1;
            background-color: rgba($color-dark-2, 0.7);
            transition: all 0.3s;

            &:hover {
              background-color: rgba($color-dark-2, 1);
            }
          }
        }

        &:hover {
          display: block;
        }
      }
    }
  }

  .navigation {
    position: sticky;
    top: $padding-1;
    transition: all 0.5s;

    &__item {
      display: grid;
      grid-template-columns: 50px 1fr;
      place-content: center;
      width: 100%;
      margin-bottom: $padding-1;

      svg {
        min-width: 50px;
        min-height: 50px;
        color: $color-light-1;
        background-color: $color-3;
        border-radius: 100%;
        padding: 10px;
        cursor: pointer;
      }

      .button {
        width: 100px;
        background-color: transparent;
        white-space: nowrap;
        transition: all 0.3s;
      }

      &:hover {
        svg {
          animation: bubbleAnimation 0.3s linear;
          background-color: $color-2;
          transition: all 0.3s;
        }
      }
    }
  }

  &--inactive {
    height: 85px;
  }

  &--active {
    height: 400px;

    .search {
      opacity: 1;
    }
  }

  @include md {
    &--inactive {
      width: 100px;
      height: 100%;

      .header__logo-container {
        margin-bottom: $padding-1;

        .header__logo {
          font-size: 15px;
        }
      }

      .search {
        opacity: 0;
        pointer-events: none;
      }

      .navigation {
        .button {
          opacity: 0;
          width: 0;
          padding: 0;
          pointer-events: none;
        }
      }
    }

    &--active {
      width: 300px;
      height: 100%;

      .search {
        opacity: 1;
      }
    }
  }
}
