.header {
  background-color: $color-dark-1;
  transition: all 1s;

  .header__logo {
    padding: $padding-1;

    font-size: 30px;
    font-weight: lighter;

    .header__logo--bold {
      display: inline-block;
      transform: rotate(90deg) translate(-4px, 0px);
      margin-top: 4px;
      border-bottom: 5px solid $color-light-1;

      font-weight: bold;
      color: $color-light-1;
    }
  }

  .header__button {
    position: sticky;
    top: 10px;
    width: 50px;
    height: 50px;
    float: right;
    transition: all 0.3s;

    cursor: pointer;
    .header__button-line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $color-1;
      transition: all 0.3s;
    }
    .header__button-line-1 {
      transform: translate(0, -7px) rotate(45deg);
    }
    .header__button-line-2 {
      transform: translate(0, 7px) rotate(-45deg);
    }
    .header__button-line-3 {
      transform: translate(-7px, -7px) rotate(45deg);
    }
    .header__button-line-4 {
      transform: translate(-7px, 7px) rotate(-45deg);
    }

    &:hover {
      transform: translate(5px, 0);
      .header__button-line-1 {
        transform: translate(0, -7px) rotate(45deg);
      }
      .header__button-line-2 {
        transform: translate(0, 7px) rotate(-45deg);
      }
      .header__button-line-3 {
        transform: translate(-5px, 0) rotate(0);
      }
      .header__button-line-4 {
        transform: translate(-5px, 0) rotate(0);
      }
    }
  }

  .search {
    transition: all 0.5s;
    .search__form {
      .search__input {
        border-radius: $radius;
        background-color: $color-dark-2;
        border: none;
        padding: 10px 15px;
        color: $color-light-1;

        &:focus {
          & + .search__list {
            display: block;
            opacity: 1;
          }
        }
      }
      .search__list {
        position: absolute;
        display: none;
        z-index: 1;
        margin-top: 19px;
        opacity: 0;
        background-color: rgba($color-dark-1, 0.7);
        min-height: 100vh;

        li {
          list-style: none;
          padding: 5px 15px;
          margin-bottom: 10px;

          a {
            display: block;
            padding: 20px;
            border-radius: $radius;
            color: $color-light-1;
            background-color: rgba($color-dark-2, 0.7);
            transition: all 0.3s;

            &:hover {
              background-color: rgba($color-dark-2, 1);
            }
          }
        }

        &:hover {
          display: block;
        }
      }
    }
  }

  .header__nav {
    position: sticky;
    top: $padding-1;
    margin: $padding-1;
    transition: all 0.5s;

    .button {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }

  &.header--inactive {
    width: 150px;

    .search {
      opacity: 0;
    }
    .header__nav {
      opacity: 0;
    }
  }

  &.header--active {
    width: 350px;

    .search {
      opacity: 1;
    }
    .header__nav {
      opacity: 1;
    }
  }
}
